body {
    background-color: palevioletred;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 500px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #89CFF0;
}

h1 {
    /*text-align: center;*/
}

p.joke {
    font-size: 2rem;
}

.footer {
    padding-top: 50px;
    text-align: center;
}


